* {
    color : pink;
}

#zoneJeu{
    border-color: black;
    border-style: solid;
    border-width:2px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background-color: palevioletred;
}

.boutons_direct{
    margin-bottom: 20px;
    justify-content: space-around;
    display: flex;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline;
    margin: auto;
    display: flex;
    background-color: antiquewhite;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

p{
    text-align: center;
}
