* {
    color : pink;
}

#zoneJeu{
    border-color: black;
    border-style: solid;
    border-width:2px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.boutons_direct{
    margin-bottom: 20px;
    justify-content: space-around;
    display: flex;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline;
    margin: auto;
}