/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: rgb(241, 215, 222);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

#zoneJeu{
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-width:4px;
    display: block;
    margin: auto;
    margin-bottom: 20px;

}

.boutons_direct{
    margin-bottom: 20px;
    justify-content: space-around;
    display: flex;
    color: black;
    
}

.fleche-dir{
    border-radius: 15px;
    border: 3px solid;
    padding: 15px 30px;
    margin-top:5px;
    margin-bottom: 5%;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    color : black;
}

header{
    padding: 15px;
}

h1{
    margin-bottom:20px ;
}

h1, p{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    color:rgb(96, 12, 63);
    text-align: center;

}

.option-btn{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 3px solid;
    padding: 0.25em 0.5em;
    margin-bottom: 5px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    color : black;
}

button{
    font-size: 16px;
    cursor: pointer;
    display: inline;
    margin: auto;
    display: flex;
    background-color: antiquewhite;
    color : black;
    border-color: black;
    
}

footer{
    bottom: 0;
    left: 0;
    background-color:palevioletred;
    width: 100%;
    padding-top: 5px;
}

.credit{
    display:inline-flex;
    justify-content:space-evenly;
    width: 100%; 
}

.div-score{
    color : rgb(96, 12, 63);;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding : 15px;
    font-size: 15px;
}

p{
    font-size: 10px;
    font-weight: 100;
}


.overlay {
    position: fixed;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: none; 
    justify-content: center;
    align-items: center;

}
.overlay .contenu {
    background-color: rgb(233, 227, 220);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-height: 80%;
    overflow-y: auto;
    margin:10%;
}

#div-englob{
    display: flex;
    align-items: center;
    justify-content: center;
}

#option-btn-div{
    align-items: left;
}

#newgame-btn-div{
    align-items: left;
    margin-left: 20px
}


.option-btn{
    display:inline;
    flex-direction: row;
    margin-top: 10px;
}

.contenu{
    display: flex;
    flex-direction: column;
}

#valider-btn{
    align-self: center;
}

.option-color{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    
}

.option-color p{
    text-align: left;
}

input{
    flex-shrink: 0;
}

input[type="range"]{
  width: 80px;   
  background: pink ;
}

main {
    flex: 1;
}